<h1 class="title"><%= post.get("title") %></h1>

<p class="body"><%= post.get("body") %></p>

<button class='edit-post'>Edit</button>
<button class='delete-post'>Delete this Post</button>

<a href="#posts">Back To Index</a>
